.subpage.instruktoerer
  .content-container
    .content.lg-py4

      .clearfix.mx-auto.center.max-width-3.p2.sm-px3.lg-py4.relative

        .absolute.instructor-list.pr2.pt1.sm-pr3
          .col.col-12.mb3 
            a.h1.back.text-decoration-none.mx-auto.md-hide.lg-hide(href="/") ← 
            h1
              a.back.absolute.left.pr2.mln3.text-decoration-none.sm-hide.xs-hide(href="/") ← 
              | Instruktører
          .col.col-12
            .clearfix
              each instructor in instructors
                a.instructor.col.col-12.md-col-4.lg-col-3.center.mb3(href="/instruktoerer/" + instructor.key)
                  .photo.mx-auto.mb2(style="background-image: url( " + instructor.photo.secure_url + " )")
                  .h3.name= instructor.name.full
        
        .absolute.instructor-details.pr2.pt1.sm-pr3
          .col.col-12
            each instructor in instructors
              .instructor-detail.display-none.closed(data-instructor-key=instructor.key)
                .col.col-12.mb3 
                  a.h1.back.text-decoration-none.mx-auto.md-hide.lg-hide(href="/instruktoerer") ← 
                  h1
                    a.back.absolute.left.pr2.mln3.text-decoration-none.sm-hide.xs-hide(href="/instruktoerer") ← 
                    | #{instructor.name.full}
                .clearfix.mb3
                  .col.col-12.mb2
                    .photo.mx-auto
                      img(src=instructor.photo.secure_url)
                  .col.col-12.bio
                    div!=instructor.bio.html
